.btn-cores {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}

/*Seção de cores do corolla-cross*/
.Prata-Lua-Nova {
    background-color: #C3CBD0;
}

.Preto-Infinito {
    background-color: #282E30;
}

.Branco-Lunar {
    background-color: #F2F2F0;
}

.Cinza-Granito {
    background-color: #667072;
}

.Preto-Atitude {
    background-color: #343736;
}

.Preto-Eclipse {
    background-color: #202021;
}

.Branco-Lunar-Preto {
    background-color: #F2F2F0;
}

.Azul-Topazio {
    background-color: #2F3951;
}

.Prata-Nevoa {
    background-color: #C5CDCB;
}

.Vermelho-Granada {
    background-color: #7E1F23;
}

.Cinza-Celestial {
    background-color: #8E9DA7;
}