.btn-cores {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}

.Branco-Lunar, .Branco-Lunar-Preto {
    background-color: #F2F2F0;
}

.Branco-Solido {
    background-color: #ece6e6;
}

.Cinza-Granito {
    background-color: #667072;
}

.Cinza-Celestial, .Cinza-Metalizado {
    background-color: #8E9DA7;
}

.Preto-Infinito {
    background-color: #282E30;
}

.Preto-Atitude {
    background-color: #343736;
}

.Preto-Eclipse,
.Solid-Black {
    background-color: #202021;
}

.Azul-Topazio {
    background-color: #2F3951;
}

.Prata-Lua-Nova {
    background-color: #C3CBD0;
}

.Prata-Nevoa, .Prata-Argentum {
    background-color: #C5CDCB;
}

.Prata-Supernova {
    background-color: #D5D6D8;
}

.Precious-Metal {
    background-color: #8E9DA7;
}

.Vermelho-Granada {
    background-color: #7E1F23;
}

.Vermelho-Emoção-Preto, .Emotional-Red {
    background-color: #C40000;
}

.Vermelho-Volcano {
    background-color: #D41B24;
}