* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 150px;
    height: auto;

}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 80px auto 10px;
    width: 80vw;

    font-family: 'Roboto', sans-serif;
    color: #1C1C1C;
    background-color: #FFFFFF;
}

main > h1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #1C1C1C;
    text-align: center;
}

.fixed-top {
    background-color: white;
}

.navbar {
    border-bottom: 1px solid rgb(159, 159, 159);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40px' viewBox='0 -960 960 960' width='40px' fill='%23000000'%3E%3Cpath d='M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z'/%3E%3C/svg%3E") !important;
}

.offcanvas-header {
    text-align: center;
}

.offcanvas-header .btn-close {
    margin-left: 0px;
}

.offcanvas-header > h1 {
    display: flex;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #1c1c1cd5;
    text-align: center;
}

.nav-link {
    color: rgb(0 0 0 / 55%) !important;
}

.active-link {
    color: #EB0A1E !important;
    border-bottom: 3px solid #EB0A1E !important;
}

.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e") !important;
}

.offcanvas.show:not(.hiding) {
    width: 100%;
}

.offcanvas-body,
.offcanvas-header {
    color: black;
    background-color: rgb(255, 255, 255);
}

.carousel-image {
    filter: brightness(50%);
}

.category {
    padding: 10px;
    list-style-type: none;
}

.category>a {
    color: black;
    text-decoration: none;
}

.category-carousel>a {
    color: white;
}

.pt1 {
    border-bottom: 3px solid red;
}

.nav-categories {
    display: none;
}

.carousel-caption>p {
    font-weight: bold;
    color: white;
}

.fundo-carousel {
    filter: brightness(40%);
    border-radius: 10px;
}

#suv,
#hibridos,
#pickups,
#comercial, #esportivos {
    display: none;
}

.valores {
    font-size: x-large;
    font-weight: bolder;
}

img {
    width: 100%;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid rgb(234, 234, 234);
    margin: 8px;
}

.images img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.preco {
    font-weight: bolder;
}

.btn-comprar, .btn-visita {
    background-color: #EB0A1E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 30px 10px;
    cursor: pointer;
}

.btn-visita {
    width: 148px;
}

.btn-visita > a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 15px 100px;
    font-size: 20px;
    font-weight: 500;

    list-style-type: none;
}

.explorar {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100px;
    border: 1px solid black;
    background-color: white;
}

.explorar:hover {
    transition: ease-in-out .5s;
    background-color: rgb(218, 215, 215);
}

.btn {
    background-color: #3c76cb !important;
    margin-bottom: 10px;
}

.btn>a {
    color: black;
    text-decoration: none;
}

#funcionamento {
    display: none;
}

#funcionamento>img {
    width: 100%;
}

#funcionamento>h2 {
    font-weight: bold;
    margin-top: 24px;
}

.sobre_marca {
    display: inline-block;
    list-style-type: disc;
    margin: 0;
}

.sobre_marca>li::marker {
    color: #EB0A1E;
}

.nossas-fabricas {
    color: black;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .nav-categories {
        display: block;
    }

    .carousel-allmodels {
        display: none;
    }

    .active {
        background-color: #EB0A1E !important;
        color: white !important;
    }

    #funcionamento {
        display: none;
        grid-template-columns: 1fr 1fr;
        gap: 32px 48px;
        align-items: center;
    }

    #funcionamento img:first-of-type {
        grid-column: 1 / 3;
        justify-self: center;
        margin-bottom: 32px;
        width: 60%;
    }

    #funcionamento img:not(:first-of-type):nth-of-type(odd) {
        grid-column: 1;
    }

    #funcionamento h2:nth-of-type(odd),
    #funcionamento p:nth-of-type(odd) {
        grid-column: 2;
        text-align: left;
    }

    #funcionamento img:not(:first-of-type):nth-of-type(even) {
        grid-column: 2;
    }

    #funcionamento h2:nth-of-type(even),
    #funcionamento p:nth-of-type(even) {
        grid-column: 1;
        text-align: right;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 8px;
        align-items: center;
    }

    .div1 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
    }

    .div2 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 3;
    }
}