body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #e30613;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.container {
    max-width: 800px;
    margin: 12px auto;
    padding: 2rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-bottom: 1rem;
    color: #e30613;
}

form {
    display: grid;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input,
select,
textarea,
button {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    background: #e30613;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #b0050f;
}

.return {
    background-color: transparent !important;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 0px;
    cursor: pointer;
}

.return>a {
    color: #EB0A1E;
    text-decoration: none;
}

.return > a > .seta-return {
    margin: 0;
    text-decoration: none;
    transform: scale(2);
}


.wave-group {
    position: relative;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 98%;
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 50%;
}

.warning {
    color: rgb(173, 168, 168);
}

textarea {
    width: 95%;
    resize: none;
}